<div class="card mx-auto mb-2 shadow row p-4 m-4" style="max-height: 85vh;  overflow:auto; width: 80%">
    <div class="alert shadow alert-light col-md-11 ms-5 " style="color:#4B85A6" role="alert">
        <div class="d-inline ">Customer's Detail</div>
    </div>
    <form method="" action="" style="" >
        {{#with cus}}
        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
            <span class="input-group-text" style="background-color:#FFFFFF">Name: <span class="star">*</span></span>
            <input type="text" aria-label="HoTen" name="HoTen" class="form-control" style="background-color:#FFFFFF"
                required maxlength="50" readonly value="{{HoTen}}">
        </div>
        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
            <span class="input-group-text" style="background-color:#FFFFFF">Address: <span class="star">*</span></span>
            <input type="text" aria-label="DiaChi" name="DiaChi" class="form-control" style="background-color:#FFFFFF"
                required maxlength="50" readonly value='{{DiaChi}}'>
        </div>
        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
            <span class="input-group-text" style="background-color:#FFFFFF">Phone number: <span
                    class="star">*</span></span>
            <input type="text" aria-label="SDT" name="SDT" class="form-control" style="background-color:#FFFFFF"
                required maxlength="11" readonly value="{{SDT}}">
        </div>
        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
            <span class="input-group-text" style="background-color:#FFFFFF">Fax number: <span
                    class="star">*</span></span>
            <input type="text" aria-label="SoFax" name="SoFax" class="form-control" style="background-color:#FFFFFF"
                required maxlength="50" readonly value="{{SoFAX}}">
        </div>
        <div class="input-group  ms-5 tourinput " style="width:91.5%;">
            <span class="input-group-text" style="background-color:#FFFFFF">Email: <span class="star">*</span></span>
            <input type="text" aria-label="Email" name="Email" class="form-control" style="background-color:#FFFFFF"
                required maxlength="50" readonly value="{{EMAIL}}">
        </div>
        {{/with}}
    </form>

</div>

<style>
    .star {
        color: red
    }

    .tourinput {
        width: 91.5%;
        height: 60px;
    }

    .input-group-text {
        width: 25%;

    }

    * {
        font-family: Aclonica
    }
</style>